@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee
}

.navbar {
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #448fab;
  border-radius: 30px;
  padding: 8px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 5px;
  width: 350px;
  caret-color: #baf7fa;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: #baf7fa;
  color: #396b7e;
}

.search_input::-webkit-input-placeholder {
  color: #dfdcdc;
}

.search_icon {
  height: 35px;
  width: 35px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.card {
  border: none;
  border-radius: 10px;
}

.c-details span {
  font-weight: 300;
  font-size: 13px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px;
}


main {
  padding-top: 10%;
}

.discus{
  font-size:14px;
}