@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* .navbar{
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
} */

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #1f6d79;
  border-radius: 30px;
  padding: 8px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 5px;
  width: 160px;
  caret-color: #BAF7FA;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: #BAF7FA;
  color: #396b7e;
}

.search_input::-webkit-input-placeholder{
	color: #dfdcdc;
}

.search_icon {
  height: 35px;
  width: 35px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}
