@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
    --dark-blue: #39eaf0;
    --blue: #019398;
    --gradient: linear-gradient(90deg, var(--dark-blue), var(--blue));
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn{
    border-radius: 5rem;
    background: var(--gradient);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
    border: none;
}
.main {
    padding-top: 120px;
    padding-bottom: 84px;
    margin-top: 95px;
    background-image: url('/img/bg_hero.jpg');
    background-size: cover;
}
.navbar {
    font-size: 16px;
}
h1 span {
    color: #019398;
}
